body {
    background-color: #00171f;
    color: #f7f7ff;
    font-size: 2rem;
}

.navbar {
    background-color: #000000;
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.navbar-brand {
    background-color: #000000;
    color: #FFFFFF;
}

.navbar-nav > li > a {
    background-color: #000000;
    color: #FFFFFF;
}

.navbar-nav > li > a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.navbar-nav > li > a:focus {
    background-color: #000000;
    color: #FFFFFF;
}

.navbar-nav > li > a:active {
    background-color: #000000;
    color: #FFFFFF;
}